/* CSS for e-commerce */
.section-1{

}
.section-2{
  background-color: #ff5722;
}
.section-3{
  background-color: red;
}
.section-4{
  background-color: #8ec6c5;
}
.get-app-heading{
  width:70%;
}
.social-media{
  background-color: #ffeb99;
}
